nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1
{
    font-size: 20px;
}
nav .onglette
{
    display: flex;
    flex-wrap: wrap;
}
nav .onglette p
{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglette input
{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color:#f2f2f2;
}
.para
{
    text-align: center;
    border:solid;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f2f2f2;
}